#server.port=7171
#delta.security.authentication=singleuser
#delta.security.authentication=multiuser
#delta.security.authentication=oauth2
#
delta.security.authentication=oauth2
delta.jwk.url=http://10.129.135.76:8090/uaa/token_keys
delta.gateway.config=\"config/application.yml\"


delta.db.username=UNCL_CORE
#delta.db.username=DATA_NSI
delta.db.password=Rhjyf1993
delta.db.url=jdbc:oracle:thin:@10.129.135.122:1521:test19
delta.db.driver=oracle.jdbc.OracleDriver
#delta.db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
delta.db.startpostgresql=no
delta.tray.icon=yes
delta.browser.start=no

use.separated.plugin.skzi=yes
plugin.skzi.host=10.129.135.78
plugin.skzi.port=8082




# Драйвер
delta.db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver

# URL подключения (стандартный порт 1433)
delta.db.url=jdbc:sqlserver://localhost:1433;databaseName=your_database;encrypt=true;trustServerCertificate=true;

# Аутентификация
delta.db.username=your_username
delta.db.password=your_password